{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">To-Do App</h1>
        <p class="lead">Just another to-do app.</p>
    </div>

    <form action="/item" method="post">
        <div class="row">
            <div class="col form-group">
                <label for="name">Task to add: </label>
                <input type="text" name="name" id="name" placeholder="Name of the item" required/>
            </div>
            <div class="col form-group">
                <label for="desc">Description:</label>
                <input type="text" name="desc" id="desc" placeholder="Details of the item" required>
            </div>
            <div class="col form-group">
                <label for="due">Due date: (optional)</label>
                <br>
                <input type="date" id="due" name="due-date"/>
            </div>

            <div class="col">
                <input class="btn btn-success" type="submit" value="Add new task"/>
            </div>
        </div>
    </form>


    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>

    <h2>Tasks</h2>
    {% for lst in lists %}
        <div class="container rounded mb-3" style="border:1px solid #cecece;">
            <h3>{{ lst.name }}</h3>
            <div class="row row-cols-1 row-cols-md-3">
                {% for item in items %}
                    {% if item.list.id == lst.id %}
                        <div class="col mb-2">
                            <div class="card text-white {{ "bg-danger" if item.overdue() else "bg-info" }} h-100">
                                <h5 class="card-header font-weight-bold">
                                    {{ item.name }}
                                </h5>
                                <div class="card-body d-flex flex-column">
                                    <div class="row">
                                        {{ item.desc }}
                                    </div>
                                    <div class="row">
                                        {{ "Due by: {0}".format(item.due) if item.due }}
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <form class="mt-auto" action="/delete_item" method="post"
                                              id="delete-{{ item.id }}">
                                            <input type="hidden" name="item-id" value="{{ item.id }}">
                                            <button class="btn btn-danger" type="submit" form="delete-{{ item.id }}"
                                                    value="Submit"><i class="fa-solid fa-trash"></i> Delete task
                                            </button>
                                        </form>

                                        <div class="col">
                                            <form class="mt-auto" action="/move_item" method="post"
                                                  id="move-{{ item.id }}">
                                                <input type="hidden" name="item-id" value="{{ item.id }}">
                                                <select class="form-select form-select-lg"
                                                        aria-label="Default select example"
                                                        name="list-id">
                                                    {% for l in lists %}
                                                        <option {{ "selected" if l.id == item.list.id }}
                                                                value="{{ l.id }}">{{ l.name }}</option>
                                                    {% endfor %}
                                                </select>
                                                <button class="btn btn-primary w-100" type="submit"
                                                        form="move-{{ item.id }}"
                                                        value="Submit"><i class="fa-solid fa-trash"></i> Update task
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <p class="card-text">ID: {{ item.id }}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}