{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">To-Do App</h1>
        <p class="lead">Just another to-do app.</p>
    </div>

    <form action="/item" method="post">
        <div>
            <label for="name">Task to add: </label>
            <input type="text" name="name" id="name" required/>
        </div>
        <div class="form-example">
            <input type="submit" value="Add new task"/>
        </div>
    </form>


    <div class="row">
        <div class="col-md-12">
            <h2>Tasks</h2>
            <ul class="list-group mb-4">
                {% for item in items %}
                    <div class="card text-white bg-info mb-2" style="width: 22rem;">
                        <h5 class="card-header font-weight-bold">
                            {{ item.list.name }}
                        </h5>
                        <div class="card-body">
                            <h2 class="card-title">{{ item.name }}</h2>
                            <p class="card-text">ID: {{ item.id }}</p>
                            <form action="/delete_item" method="post" id="delete-{{ item.id }}">
                                <input type="hidden" name="item-id" value="{{ item.id }}">
                                <button class="btn btn-danger mt-3" type="submit" form="delete-{{ item.id }}" value="Submit"><i class="fa-solid fa-trash"></i> Delete task</button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}